// admin

.create-wrap{
    margin: 20px 0 20px 0;
    .create-button{
        margin: 10px;
    }
}

.custom-tbl{
    table{
        img{
            max-width: 80%;
        }
    }
}

.back-btn{
    margin: 20px 0 50px 0;
}
#sum{
    display: none;
    
}

.is-admin{
    a.nav-link{
        color: white!important;
    }
}
.list-group-item{
    width: 100%;
    text-align: center;
    border: none;
    h2{
        color: black;
    }
}
.table-dark{
    background-color: white!important;
    color: black!important;
}
.jumbotron{
    background-color: white!important;
}