// homepage styles

.banner{
    padding: 0 !important;
    max-height: 300px;
    overflow: hidden;
}
.content{
    .head-text{
        text-align: center;
        padding: $padding-head;
    }
    @include media-breakpoint-up(sm){
        .head-text{
            text-align: left;
        }
    }
    a{
        text-decoration: underline;
        font-weight: bold;
    }
}