// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-default: 'Segoe UI', sans-serif;
$font-size-p: 12px;
$font-size-xs: 10px;
$font-size-head: 30px;

// values
$padding-subhead: 11px;
$padding-p: 0px 13px 0px 0px;
$padding-head: 34px 0 0 0;


// Default colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Project colors

$primary: #FF7B00;
$secundairy: #006600;
$black: #000000;
$border-color: #333333;

// -----------------------