.viewdonation{
    h2{
        font-size: 18px;
    }
    .product{
        padding: 30px 0 20px;
        border-bottom: 1px solid $border-color;
     
    }
}
.product {
    .col-12{
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
}   


