// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// import paginas

@import 'home';
@import 'donate';
@import 'viewdonation';
@import 'admin';

// global classes
*{
    font-family: 'Segoe UI', sans-serif;
}

h1{
    font-weight: bold;
    color: $primary;
    font-size: $font-size-head;
}
h2{
    color: $secundairy;
    font-size: $font-size-p;
    font-weight: bold;
}
p{
    font-size: $font-size-p;
    color: $black;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    .container-sm{
        padding: 0 !important;
    }
}

//header - nav
.header{
    .navbar-def{
        height: 52px;
    }
}
//footer
.footer{
    .footer-wrap{
        height: 130px;
        .top-footer{
            background-color: $secundairy;
            .footer-logo{
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
        .sub-footer{
            background-color: #333333;
            p{
                color: white;
                font-size: $font-size-xs;
                padding-top: 2px;
            }
        }
    }
}
